.auto-complete {
  position: relative;
  width: 16rem;
}

.auto-complete-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #000;
}

.auto-complete-results {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  border: 1px solid #000;
  z-index: 10;
}

.auto-complete-result {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
